/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: whitesmoke;
}
header {
  background-color: blue;
  height: 38vw;
}
nav {
  margin-left: 842px;
  padding-top: 24px;
  color: white;
  font-size: 12px;
}
.nav-item {
  margin-right: 30px;
}
.nav-item-active {
  margin-right: 30px;
  background-color: white;
  color: rgb(91, 60, 231);
  padding: 6px 10px;
  border-radius: 3px;
  font-weight: 600;
}
.logo {
  margin-top: 11px;
  margin-left: 62px;
  height: 48px;
}
.head {
  display: flex;
}
.header-text {
  margin-top: 90px;
  margin-left: 65px;
}
.header-text h2 {
  color: rgb(252, 248, 248);
  font-size: 39px;
  word-spacing: 4px;
  font-weight: 500;
  margin-top: 5px;
  word-break: break-all;
}
.header-text p {
  margin-top: 13px;
  font-size: 19px;
  color: rgb(248, 236, 236);
}
.header-image {
  margin-top: -28px;
  margin-left: 82px;
  height: 554px;
}
.company-items {
  color: black;
  text-decoration: none;
  margin-right: 32px;
  font-family: "Righteous";
  font-size: 25px;
}
.companies {
  margin-top: 28px;
  margin-left: 61px;
}
.api {
  margin-top: 103px;
  margin-left: 61px;
}
.api-heading {
  font-size: 41px;
  line-height: 57px;
  font-family: "Poppins";
}
.cards {
  display: flex;
  margin-top: 35px;
  column-gap: 0px;
  margin-left: 4px;
}
.card-active {
  background-color: white;
  height: 253px;
  border-radius: 15px;
  width: 233px;
}
.card {
  background-color: none;
  height: 253px;
  border-radius: 15px;
  width: 233px;
}
.cbd {
  margin-top: 2px;
}

.card-logo {
  height: 52px;
  width: 52px;
  margin-top: 38px;
  margin-left: 24px;
}
.card-head-active {
  margin-top: 16px;
  margin-left: 24px;
  color: rgb(91, 60, 231);
  font-size: 23px;
  font-family: "poppins";
  line-height: 36px;
  font-weight: 600;
}
.card-head {
  margin-top: 16px;
  margin-left: 24px;
  color: black;
  font-size: 23px;
  font-family: "poppins";
  line-height: 36px;
  font-weight: 600;
}

.card-body {
  margin-left: 24px;
  margin-top: -3px;
  line-height: 22px;
  font-weight: 500;
  font-size: 14px;
}
.cbd {
  margin-top: 2px;
}
.blog-heading h1 {
  margin-top: 78px;
  margin-left: 61px;
  font-size: 41px;
  line-height: 57px;
  font-family: "Poppins";
}
.blog-cards {
  display: flex;
  margin-top: 35px;
  column-gap: 34px;
  padding-left: 61px;
  padding-right: 61px;
}

.blog-card {
  display: flex;
}
.blog-image img {
  width: 279px;
}
.blog-content {
  background-color: white;
  width: 310px;
  height: 320px;
  border-radius: 0px 15px 15px 0px;
  padding-top: 37px;
  padding-left: 50px;
}

.blog-card-bottom-image1 {
  position: absolute;
  top: 1598px;
  left: 393px;
  right: 0px;
  bottom: 0px;
}
.blog-author1 {
  position: absolute;
  top: 1606px;
  left: 460px;
  right: 0px;
  bottom: 0px;
  font-size: 11px;
}
.blog-card-bottom-image2 {
  position: absolute;
  top: 1598px;
  left: 1052px;
  right: 0px;
  bottom: 0px;
}
.blog-author2 {
  position: absolute;
  top: 1606px;
  left: 1120px;
  right: 0px;
  bottom: 0px;
  font-size: 11px;
}
.blog-content h3 {
  margin-top: 13px;
  font-size: 19px;
}
.blog-content p {
  margin-top: 14px;
  line-height: 1.7;
  font-size: 11px;
  font-weight: 700;
}
.blog-content h6 {
  color: rgb(91, 60, 231);
}
.faq-content h2 {
  font-size: 42px;
  line-height: 53px;
}
.faq-content {
  margin-top: 46px;
  margin-left: 61px;
}
.faq-section {
  display: flex;
  margin-top: 70px;
  background-color: rgb(225, 237, 245);
  height: 27vw;
}
.faq-image img {
  width: 50vw;
  position: absolute;
  left: 669px;
}
.faq-content h4 {
  margin-top: 9px;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 500;
}
.faq-content h3 {
  margin-top: 33px;
  font-size: 16px;
  font-weight: 600;
}
.faq-content button {
  margin-top: 21px;
  font-size: 13px;
  color: whitesmoke;
  background-color: rgb(74, 36, 247);
  border: none;
  padding: 8px 17px;
  border-radius: 5px;
}
.download-section {
  display: flex;
  height: 21vw;
  background-color: white;
}
.download-section h1 {
  font-size: 30px;
  display: flex;
}
.download-section span {
  font-weight: 500;
  margin-left: 8px;
}
.download-content {
  margin-top: 133px;
  margin-left: 69px;
}
.download-email {
  margin-top: 126px;
  margin-left: 396px;
}
.download-email input {
  font-size: 13px;
  padding: 16px 379px 16px 37px;
  border: none;
  background-color: rgb(225, 237, 245);
  color: black;
  z-index: -5;
  font-weight: 600;
  border-radius: 28px;
}
.download-email button {
  position: absolute;
  top: 2206px;
  left: 1113px;
  border: none;
  padding: 13px 45px;
  background-color: rgb(74, 36, 247);
  border-radius: 28px;
  text-transform: uppercase;
  color: white;
}
.footer-section {
  display: flex;
  height: 19vw;
  background-color: rgb(74, 36, 247);
}
.footer-left {
  margin-top: 84px;
  margin-left: 74px;
}
.list {
  display: flex;
  list-style: none;
  margin-top: 19px;
  color: rgb(185, 183, 183);
  font-size: 13px;
  column-gap: 10px;
}
.footer-logo {
  height: 48px;
}
.footer-rights {
  margin-top: 81px;
  margin-left: 678px;
}
.logos-list {
  display: flex;
  list-style: none;
  margin-top: 34px;
  color: rgb(185, 183, 183);
  font-size: 13px;
  column-gap: 10px;
  margin-left: -53px;
}
.footer-logos {
  margin-right: 14px;
}
.list :nth-child(2) {
  border-right: 1px solid rgb(185, 183, 183);
  padding: 0px 16px;
  height: 10%;
}
.list :nth-child(3) {
  border-right: 1px solid rgb(185, 183, 183);
  padding: 0px 16px;
  height: 10%;
}
.list :nth-child(4) {
  border-right: 1px solid rgb(185, 183, 183);
  padding: 0px 16px;
  height: 10%;
}
.logos-list :nth-child(1) {
  border-right: 1px solid rgb(185, 183, 183);
  padding: 0px 16px;
}
.logos-list :nth-child(2) {
  border-right: 1px solid rgb(185, 183, 183);
  padding: 0px 16px;
}
.blog-heading h4 {
  position: absolute;
  top: 1259px;
  left: 1135px;
  color: rgb(91, 60, 231);
  font-size: 19px;
}
.dot {
  height: 45px;
  width: 45px;
  background-color: rgb(74, 36, 247);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 940px;
  left: 1220px;
  z-index: -5;
}
.fa-angle-right {
  color: white;
  display: inline-block;
  position: absolute;
  top: 939px;
  left: 1238px;
}
.fa-angle-right:before {
  content: "\f105";
  font-size: 45px;
}
